@import "Modules/cards";

h1 {
  color: #aaa;
}

.fish-card {
  margin-top: 20px;
  margin-bottom: 20px;
} 

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}